<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.onnwaytransporter">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:name=".networking.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Profile2"></activity>
        <activity
            android:name=".KYC4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KYC3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KYC2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectSpace3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KYC"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetails4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TruckDetails2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetails3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BidDetails2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GettingStarted"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Web"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetails2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectSpace2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Materials2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectSpace"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Materials"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TruckDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BidDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otp.NumberIntroActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".profilerelated.KycProviderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.profilerelated.uploadkycimage.KycMainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.profilerelated.uploadkycimage.UploadImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.profilerelated.AddTruckDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.profilerelated.DriverTruckDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.Image_Picker.FileUploadCamera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.Image_Picker.FileUpload"
            android:screenOrientation="portrait" /> <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.sumit.myapplication.fileprovider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_paths" /> -->
        <!-- </provider> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".providerpartload.SelectTruckSpaceProvider"
            android:screenOrientation="portrait" />
        <activity
            android:name=".providerpartload.PartLoadMaterialDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.profilerelated.KycDriverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.profilerelated.DriverOperatedRoutesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.profilerelated.DriverUpdateCity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".driver.profilerelated.DriverUpdateMobile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".driver.profilerelated.DriverUpdateName"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".driver.profilerelated.DriverAddRoutesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.profilerelated.DriverNamePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.profilerelated.DriverProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderStatus.UploadPOD"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderStatus.AssignTruck"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.postload.DriverPostPartLoad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.postload.DriverPostFullLoad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.DriverMainActivity"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.file_paths").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDg928l41AL20avLOGqYVVHHYHyNTM3DMY" />

        <activity
            android:name=".FetchDriverLocation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profilerelated.UpdateRoutesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".GoogleMapActivity" /> <!-- <activity android:name="com.atul.testing.TestingActivity"></activity> -->
        <!-- <activity android:name="com.atul.testing.TestingActivity"></activity> -->
        <activity
            android:name=".biddetails.SetBidDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profilerelated.AddRoutesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".profilerelated.UpdateCityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".profilerelated.UpdateMobileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".profilerelated.UpdateNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".profilerelated.NamePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otp.OtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".otp.NumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstTimeProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SelectUserType" />
        <activity
            android:name=".testing.TestingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/loggg" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".LocationUpdatesService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
    </application>

</manifest>